HELLO WORLD

In [ ]:
print("Hello World")
print(100)

# Variable Type

In [12]:
#Int
x=100
print(x)
print(type(x))

#String
y= "HELLO"
print(y)
print(type(y))

#Boolean
z= False
print(z)
print(type(z))

#Float
a= 1.12
print(a)
print(type(a))

100
<class 'int'>
HELLO
<class 'str'>
False
<class 'bool'>
1.12
<class 'float'>

# List Set Tuple Dictionary

In [30]:
#LIST
#mutable
sample_list = [100,200,300,"Hello",200]
print(sample_list)

#Indexing
print(sample_list[1])
print(sample_list[-1])
print(sample_list[1:3])

#Update
sample_list[2] = 600
print(sample_list)

#delete
sample_list.remove(100)
print(sample_list)
del sample_list[1]
print(sample_list)

[100, 200, 300, 'Hello', 200]
200
200
[200, 300]
[100, 200, 600, 'Hello', 200]
[200, 600, 'Hello', 200]
[200, 'Hello', 200]

In [29]:
#Tuple
#immutable
sample_tuple = (900,800,700,600,600)
print(sample_tuple)
print(sample_tuple[0:3])

(900, 800, 700, 600, 600)
(900, 800, 700)

In [39]:
#Set
#No Duplicates Allowed in Set
sample_set = {100,200,300,100,200,300,"Hello"}
print(sample_set)

sample_set.add(500)
print(sample_set)

sample_set.remove(500)
print(sample_set)

sample_set.add(500)
print(sample_set)

{200, 100, 'Hello', 300}
{'Hello', 100, 200, 300, 500}
{'Hello', 100, 200, 300}
{'Hello', 100, 200, 300, 500}

In [37]:
sample = [100,200,300,100,200,"Hello"]
print(sample)
#Convert list into set
new_sample = set(sample)
print(new_sample)
#Covert list into tuple
new_tuple = tuple(sample)
print(new_tuple)

[100, 200, 300, 100, 200, 'Hello']
{200, 100, 'Hello', 300}
(100, 200, 300, 100, 200, 'Hello')

In [64]:
#Dictinary
#key:value

sample_dict = {"x":100,"y":200,"x":300}
print(sample_dict)

print(sample_dict.keys())
print(sample_dict.values())

#Update Value
sample_dict["x"] = 111
print(sample_dict)

#Add new value
sample_dict["a"] = 400
print(sample_dict)

{'x': 300, 'y': 200}
dict_keys(['x', 'y'])
dict_values([300, 200])
{'x': 111, 'y': 200}
{'x': 111, 'y': 200, 'a': 400}

# Conditional Statements

In [53]:
marks = 25
if marks >= 35 and marks <= 59:
    print("Pass")
elif marks >=60 and marks <= 79:
    print("First Class")
elif marks >= 80 and marks <= 100:
    print("Distinction")
else:
    print("Fail")

Fail

# Loops

In [60]:
#For Loop

sample = [100,200,300,"Hello"]
for item in sample:
    print(item)

print("Range with Single Value")
for item in range(7):
    print(item)

print("Range with Two Values")
for item in range(30,35):
    print(item)

print("Range with three Values")
for item in range(20,40,4):
    print(item)

100
200
300
Hello
Range with Single Value
0
1
2
3
4
5
6
Range with Two Values
30
31
32
33
34
Range with three Values
20
24
28
32
36

# While Loop

In [62]:
xx = 0
while xx<8:
    if xx==5:
        xx+=1
        continue
    print(xx)
    xx+=1

0
1
2
3
4
6
7